/*default gray*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("images/gray_grid.png") fixed center;
}
nav ul li {
    list-style-type: none;
    display: inline;
}
nav ul li a {
    text-decoration: none;
    color: rgb(113, 113, 113);
}